.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px;
    height: 20vw;
    height: 90%
}

.nav-button {
    margin: 5px;
}

.nav-bar-container {
    height: 50%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* left: 0; */
    top: 12.5%;
    background-color: rgb(248, 242, 242); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    border-radius: 10px;
}