.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px;
    height: 20vw;
    height: 90%
}

.nav-button {
    margin: 5px;
}

.nav-bar-container {
    height: 50%;
    width: 150px;
    position: fixed;
    top: 12.5%;
    background-color: rgb(248, 242, 242);
    overflow-x: hidden; /* Disable horizontal scroll */
    border-radius: 10px;
}