.nav-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    height: 20vw;
}

.nav-bar-container {
    height: auto;
    width: 150px;
    position: fixed;
    top: 25%;
    background-color: rgb(8, 141, 242);
    overflow-x: hidden; /* Disable horizontal scroll */
    border-radius: 10px;
}

.nav-button {
    width: 100px;
    background-color: rgba(0,149,246,.3);
    color: black;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
