.nav-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    height: 150px;
}

.nav-bar-container {
    height: 150px;
    width: 125px;
    position: fixed;
    top: 25%;
    background-color: rgb(8, 141, 242);
    border-radius: 10px;
    border: solid black 2px;
}

.welcome-message {
    padding: 5px;
    border-bottom: solid rgba(55, 68, 82, .3) 2px;
    font-style: italic;
}
